html {
   overflow-x: hidden;
   height: 100%;
}

body {
   padding: 0;
   margin: 0;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
}

td {
   border: 2px solid black;
}

table {
   border: 2px solid black;
}

h1 {
   margin: 0;
   text-align: center;
}

.nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

.navItem {
   float: left;
}

.navItem a {
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   text-decoration: none;
}

.navItem a:hover {
   background-color: #111;
}

.htmlMain {
   overflow-y: hidden;
}

.homeHero {
   width: 100%;
   position: absolute;
   z-index: -1;
}

.img {
   width: 80px;
   height: 50px;
   float: left;
}

nav {
   width: 100%;
   background-color: #333;
}

.navList {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: flex;
   justify-content: end;
}

.logo {
   width: 80px;
   height: 50px;
   float: left;
}

.listItem {
   float: left;
}

.listItem a {
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
}

.table {
   justify-content: center;
   display: flex;
   margin-bottom: 200px;
}

#exerciseCalculator {
   padding: 20px;
   height: 200px;
}

#info {
   padding-left: 60px;
   height: 200px;
}

footer {
   position: absolute;
   display: flex;
   bottom: 0;
   width: 100%;
}

footer div {
   opacity: .7;
   background-color: black;
   width: 100%;
}

footer ul {
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 10px 20px;
}

.footerTitle {
   margin: 10px 0;
   color: white;
}

footer li {
   padding: 5px;
   list-style: none;
}

footer a {
   text-decoration: none;
   color: white;
}
